.mainDisplay{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.mainDisplay h2{
    font-size: 60px;
}
.displayName{
    text-decoration: underline;
    color:#ff1e56;
}
.displayText{
    text-decoration: underline;
    color:#ff1e56;
}