.me{
    display: flex;
    flex-direction: column;
}
.me__top{
    display: flex;
    height: 85vh;

}
.me__left{
    margin-left: 40px;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.me__left>img{
    height: 400px;
}
.me__right{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    padding: 20px;
    margin-top: 20px;
    margin-right: 20px;
}
.me__right>p{
    font-size: 32px;
    margin-bottom: 30px;
    padding: 8px;
}
.me__spanText{
    text-decoration: underline;
    color: #f9813a;
}
.me__right--about{
    font-size: 28px;
    padding: 8px;
    margin-top: 8px;
}
.me__bottom{
    width: 100vw;
    height: 100vh;
    background-color: white;
}