.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 10px;
    padding: 12px;
    margin-bottom: 20px;
}
.lefth1{
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
}
.navbar__right{
    display: flex;
    flex: 0.5;
    justify-content: space-evenly;
}
.navbar__left>h1{
    letter-spacing: 6px;
}
.navbar__right>h2{
    letter-spacing: 4px;
}
.navbar__right>h2:hover{
    background-color: white;
    color: black;
    padding: 6px;
    margin: 2px;
    border-radius: 10px;
    cursor: pointer;
}

@media only screen and (max-width: 800px){
    .navbar{
        display: flex;
        flex-direction: column;
    }
    .navbar__left{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .navbar__right{
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
        margin-bottom: 20px;
    }
}